In [1]:
import pandas as pd
import numpy as np
import datetime as dt

#### First, let's read our dataset:

In [2]:
data = pd.read_csv("../Datasets/TV_Campaign.csv",parse_dates=['Date'],dayfirst=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Campaign                         2 non-null      object
 1   Date                             64 non-null     datetime64[ns]
 2   New Active Passengers            64 non-null     int64
 3   Tours                            64 non-null     int64
 4   New User Registrations           64 non-null     int64
 5   App Downloads (Android and iOS)  64 non-null     int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 3.1+ KB

## Now for the questions provided in the Excel File.



### We ran a TV campaign  with the goal of growing our customer base and want to find out about the impact it had on our customer acquisition kpis.

### A. Which measure or measures are most relevant to judge the success of the campaign.

In [13]:
# To answer this question let's first examine the historic evolution of New Active Passengers (NAP) and New User Registrations (NUR) throughout the dataset's timeframe, as well as the NAP Contribution to Tours. 

# Studying Usage Conversion from App Downloads to NUP, to NAP would finally tell us about the health of our Passenger Acquisition Funnel and where do we have opportunity areas to communicate certain messages to incentivise demand. 

# 1. Filtering the data.

df = data[['Date', 'New Active Passengers', 'Tours', 'New User Registrations', 'App Downloads (Android and iOS)']]

# 2. Parsing the date as Weeks of the year.

df['Week_Number'] = df['Date'].dt.week

# 3. Study NUR and NAP evolution in an WoW manner. 

pivot = pd.DataFrame(
        data=np.round(pd.pivot_table(df, 
            values=['New User Registrations', 'New Active Passengers', 'App Downloads (Android and iOS)', 'Tours'],
                index=['Week_Number'],
                    aggfunc={'New User Registrations': np.mean, 'New Active Passengers': np.mean, 'App Downloads (Android and iOS)': np.mean, 'Tours': np.mean}),0)                         .reset_index(),
                            dtype=np.int64)

pivot = pivot[['Week_Number', 'App Downloads (Android and iOS)', 'New User Registrations', 'New Active Passengers', 'Tours']]

pivot['App_dl_evo'] =

,Week_Number,App Downloads (Android and iOS),New User Registrations,New Active Passengers,Tours
0,41,6988,6662,3619,22571
1,42,7459,7218,4034,23547
2,43,7501,7251,4205,24113
3,44,7673,7533,3822,24435
4,45,6414,6180,4076,24463

In [4]:
# B. Identify the impact on activity that the TV campaign had while it was running.

In [5]:
# C. Assuming a total cost of 1 million euro for the campaign, what was the CPA through the campaign.